<div id="footer">
    <div class="flex items-center justify-center">
        <div class="w-10 h-10 bg-gray-200 dark:bg-gray-700 rounded-full flex items-center justify-center cursor-pointer">
            <a href="#navbar-pie">
                   <span class="fa-top">
            <i class="fas fa-arrow-up text-black dark:text-white"></i>
        </span>
            </a>
        </div>
    </div>
    <div class="flex items-center justify-center mt-2">
        <div class="w-full bg-gray-200 dark:bg-gray-700  flex items-center justify-center">
         <span class="text-black dark:text-white">
            CopyRight 2023 PIE G9
         </span>
        </div>
    </div>
</div>
